<!DOCTYPE html>
<!-- Indicamos thymeleaf como el motor de plantilla de spring integrado del lado del servidor -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- th:text="${}" sirve para cargar el atributo que esta siendo inyectado por el controlador -->
     <!-- "Document" sera ignorado -->
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <!-- Se cargan los atributos que estan en el objeto User desde el controlador -->
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastname}"></li>
        <!-- Si email existe se muestra, si no se oculta el campo -->
        <li th:if="${ user.email}" th:text="${user.email}"></li>
        <!-- Ahora si email no existe se muestra "Sin email" -->
        <li th:if="${ user.email == null }" th:text="${'Sin email'}"></li>
    </ul>
</body>
</html>