<!DOCTYPE html>
<!-- Indicamos thymeleaf como el motor de plantilla de spring integrado del lado del servidor -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- th:text="${}" sirve para cargar el atributo que esta siendo inyectado por el controlador -->
     <!-- "Document" sera ignorado -->
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text="${name}"></li>
        <li th:text="${lastname}"></li>
    </ul>
</body>
</html>