<!DOCTYPE html>
<!-- Indicamos thymeleaf como el motor de plantilla de spring integrado del lado del servidor -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- th:text="${}" sirve para cargar el atributo que esta siendo inyectado por el controlador -->
     <!-- "Document" sera ignorado -->
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <!-- Se cargan los atributos que estan en el objeto User desde el controlador -->
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastname}"></li>
        <!-- Si email existe se muestra, si no se oculta el campo -->
        <li th:if="${ user.email}" th:text="${user.email}"></li>
        <!-- Ahora si email no existe se muestra "Sin email" -->
        <li th:if="${ user.email == null }" th:text="${'Sin email'}"></li>
    </ul>
    
    <a th:href="@{/list}">Ver listado</a><br>
    <a th:href="@{ '/api/params/foo?message=' + ${title} }">Ver mensaje</a><br> <!-- Se puede concatenar el valor del atributo title con el string del mensaje -->
    <a th:href="@{/api/params/foo?message=Hola que tal 2}">Ver mensaje2</a><br> </body> <!-- Se pueden pasar parametros por query string con el formato ?param=value -->    
    <a th:href="@{/api/params/foo(message='Hola que tal 3')}">Ver mensaje3</a><br> <!-- Otra forma de pasar parametros por query string con el formato (param=value) -->
    <a th:href="@{/api/params/bar(text='Hola que tal bar 4', code=12345)}">Ver mensaje bar (2 parametros)</a><br> <!-- Se pueden pasar varios parametros por query string con el formato (param=value) separados por comas -->  
    <a th:href="@{ '/api/var/baz/' + ${title} }">Ver mensaje var path variable </a><br> <!-- Se pueden pasar parametros por path variable con el formato /path/{variable} concatenando el valor del atributo title con el string del path -->   
    <a th:href="@{ /api/var/baz/Hola que tal bar 5 }">Ver mensaje var path variable 2</a> <!-- Se pueden pasar parametros por path variable con el formato /path/{variable} sin concatenar el valor del atributo title con el string del path -->   
</body>
</html>